In [67]:
import numpy as np
import pandas as pd
def replace_right(source, target, replacement, replacements=None):
    return replacement.join(source.rsplit(target, replacements))

In [119]:
filename = '/Users/danieljdenman/Desktop/ContributionstoNeuropixels paper.csv'

In [120]:
df = pd.read_csv(filename).transpose()
df.reset_index(level=0, inplace=True)

In [92]:
df.head()

,Unnamed: 0,Unnamed: 1,Jun,Steinmetz,Siegle,Denman,Bauza,Barbarits,Lee,Anastassiou,...,Musa,O'Keefe,Okun,Pachitariu,Putzeys,Rich,Rossant,Sun,Svoboda,TD Harris
0,NaN,NaN,JJJ,NAS,JHS,DJD,MB1,BB,AKL,CAA,...,SM,JO,MO,MP,JP,PDR,CR,WS,KS,TDH
1,Study conception,Ideas; formulation of research question; state...,NaN,NaN,NaN,NaN,NaN,NaN,y,NaN,...,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,,y
2,Methodology,Development or design of methodology; creation...,NaN,y,y,y,,NaN,y,y,...,NaN,y,NaN,NaN,NaN,NaN,NaN,NaN,y,y
3,Computation,"Programming, software development; designing c...",y,NaN,y,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,y,NaN,NaN,y,NaN,NaN,y
4,Formal analysis,"Application of statistical, mathematical or ot...",y,y,y,y,y,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
df.head()

,index,0,1,2,3,4,5,6,7,8,...,25,26,27,28,29,30,31,32,33,34
0,Unnamed: 0,Jun,Steinmetz,Siegle,Denman,Bauza,Barbarits,Lee,Anastassiou,Andrei,...,Musa,O'Keefe,Okun,Pachitariu,Putzeys,Rich,Rossant,Sun,Svoboda,TD Harris
1,Unnamed: 1,JJJ,NAS,JHS,DJD,MB1,BB,AKL,CAA,AA,...,SM,JO,MO,MP,JP,PDR,CR,WS,KS,TDH
2,Project conception,NaN,NaN,NaN,NaN,NaN,NaN,y,NaN,NaN,...,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,,y
3,Specification and Planning,NaN,y,NaN,NaN,y,y,y,NaN,NaN,...,y,y,NaN,NaN,y,NaN,NaN,NaN,y,y
4,Produced Devices,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,y,NaN,NaN,NaN,y,NaN,NaN,y,NaN,y

In [111]:
df[author][row]=='y'

True

In [115]:
category

'Funding acquisition'

In [114]:
''.join([c+'.' for c in df[author][1]])

'T.D.H.'

In [121]:
for row,category in enumerate(df['index']):
    if not 'Unn' in category:
        if type(category) == str:
            strg = category+', '
            initials = []
            for column,author in enumerate(df.columns):
                if 'index' != author:
                    if df[author][row] == 'y':
                        with_periods = ''.join([c+'.' for c in df[author][1]])
                        strg = strg+with_periods+', '
            strg=strg[:-2]
            strg = replace_right(strg,',',', and',1)+';'
            print strg

Project conception , A.K.L., B.D., C.K., and T.D.H.;
Specification and Planning, N.A.S., M.B.1., B.B., A.K.L., T.J.B., D.A.G., K.D.H., B.K., C.K., C.M.L., S.M., J.O., J.P., K.S., and T.D.H.;
Produced Devices , C.M.L., S.M., J.P., W.S., and T.D.H.;
Tested Devices in Vitro, J.J.J., N.A.S., J.H.S., D.J.D., B.B., T.J.B., B.K., P.L., C.M.L., S.M., J.P., W.S., and T.D.H.;
Tested Devices in vivo, J.J.J., N.A.S., J.H.S., D.J.D., M.B.1., C.A., M.B.2., T.J.B., V.B., J.C., D.A.G., M.O., and P.D.R.;
Resources Computation Acquisition or Analysis Software, J.J.J., J.H.S., K.D.H., B.K., M.P., and C.R.;
Provided Instrumentation or other materials, J.J.J., N.A.S., J.H.S., M.B.1., B.B., T.J.B., C.M.L., S.M., J.P., and W.S.;
Design  of experiments, J.J.J., N.A.S., J.H.S., D.J.D., M.B.1., B.B., A.K.L., M.B.2., T.J.B., V.B., M.C., J.C., D.A.G., K.D.H., P.L., J.O., M.O., P.D.R., K.S., and T.D.H.;
Software for Acquisition or Data Analysis, J.J.J., N.A.S., J.H.S., D.J.D., M.B.1., and C.R.;
Performed Simulations, N.A.S., C.A.A., S.L.G., and C.M.;
Data Analysis, J.J.J., N.A.S., J.H.S., D.J.D., M.B.1., B.B., C.A., V.B., J.C., and M.O.;
Writing and Revising Manuscript, J.J.J., N.A.S., J.H.S., D.J.D., M.B.1., A.K.L., T.J.B., V.B., M.C., J.C., B.D., K.D.H., C.K., C.M.L., J.O., and T.D.H.;
Prepared Figures, J.J.J., N.A.S., J.H.S., D.J.D., M.B.1., B.B., and J.C.;
Supervision, D.J.D., T.J.B., V.B., M.C., B.D., K.D.H., C.K., J.O., K.S., and T.D.H.;
Funding acquisition, A.K.L., V.B., M.C., K.D.H., M.H., C.K., K.S., and T.D.H.;